NEXT_PUBLIC_CURRENCY=THB
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aGFybWxlc3MtZ2FubmV0LTI5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_DDB882UhwxLGhNbttNzTraDoKfOy86mW5T1vVldfat
MONGODB_URI=mongodb+srv://nutmontree29:ecommer29@test-ecommerce.bwyoxrn.mongodb.net
INNGEST_SIGNING_KEY=signkey-prod-676e13d7e3872cca574c4d13c31813386a2d1c07f271f650f749bb18ce701621
INNGEST_EVENT_KEY=oVJL3DVSmfjtBqlDK6kkgBRqc74Jqv2bTRsgRTMegdc1VCA75FA_cc3D3RrvH2Ps9sJn9qbhzIpT_fahl-HcCA
CLOUDINARY_CLOUD_NAME=dxf3afrfv
CLOUDINARY_API_KEY=759423937932844
CLOUDINARY_API_SECRET=z_WmJb57Ew4Iz0AXmzGSlaR0S3o

LINE_CHANNEL_ACCESS_TOKEN=u6Es8v8XLytQurPCWjuanLSItUf6deRXP3jGKEhYwgTNV0dxOUJRoKnY2UTtAJY6LxUSK9lUtCaQGYCQHVbTh6DhNbg0OvYFxZvIBVKBwfdwuVMq/Cy7djgFN2ju7MVnJOHFQDvwWvacjBrbsRdOzAdB04t89/1O/w1cDnyilFU=
LINE_TO=Ceb803d51faa2d04e4f3a3058f167d418
# LINE_TO=U62b32fe2055c2702dc13e16edf5d0bc4